.c-products {
  display: flex;
  flex-direction: column;

  &__header {
    text-align: left;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
  }

  &__card {
    position: relative;
    text-align: center;
    border: 1px solid;
    flex-basis: 110px;

    margin: 2px;
    padding: {
      bottom: 20px;
    }

    &-add-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: lightskyblue;
    }
  }

  &__view-basket {
    margin-top: 10px;
    background-color: yellow;
    border: 1px solid;
    max-width: 120px;
    text-align: center;
  }
}
