.c-shopping-basket {
  max-width: 300px;

  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px dashed lightgray;

    &-name {
      flex-basis: 60%;
    }

    &-quantity {
      max-width: 20px;
    }

    &-cost {
      font-weight: bold;
      color: orange;
    }
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__total-cost {
    font-weight: bold;
    flex-grow: 1;
  }

  &__clear-btn {
    cursor: pointer;
    border: none;
    margin-right: 10px;
  }

  &__checkout-btn {
    background-color: lightskyblue;

    &-text {
      padding: 10px;
      color: white;
      font-weight: bold;
    }
  }
}
